* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    height: 100vh;
    background: #EBFFEC;
    display: grid;
    grid-template-rows: auto 628px auto;
}

header {
  background: #37893B;
  height: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 100%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.193);

}

header > nav {
    grid-column: 2;
    display: flex;
    column-gap: 80px;
    margin-right: 20px;
}

header > nav > a {
    text-decoration: none;
    color: #EBFFEC;
    /* background: gray; */
    padding: 10px 10px;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 12px;
    transition: all .2s ease-in-out;
}

header > nav > a.disabled:hover {
    background: #5ea462;
}

header > nav > a.active {
    color: #a4eda8;
    -webkit-text-stroke: 0.5px #7ec481;
    cursor: default;
}

main {
    display: grid;
    grid-row: 2;
    grid-template-columns: 50px auto auto;
    grid-template-rows: 50px auto auto;
    align-content: start;
    row-gap: 20px;
}

main > h1 {
    grid-column: 2;
    grid-row: 2;
    /* background: gray; */
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 15px;
    color: #042F05;
    max-width: 600px;
}

main div#cursos-container {
    grid-row: 3;
    grid-column: 2;
    /* background: red; */
    max-width: 600px;
}

main div#cursos-container dl {
    background: red;
    display: grid;
    grid-template-rows: repeat(10, auto);
    row-gap: 5px;
}

main div#cursos-container dl > dt {
    font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: #042F05;
  /* background: gray; */
  max-width: 280px;
}

main div#cursos-container dl > dt::after {
  content: '⬎';
  margin-left: 5px;
}

main div#cursos-container dl > dt.active::after {
  content: '⬎';
  margin-left: 5px;
}

main div#cursos-container dl > dd {
color: #266d29;
  font-weight: 400;
  display: none;
}

main div#cursos-container dl > dd.active {
    display: block;
}

main div#simbolos-container {
    grid-row: 3;
    grid-column: 3;
    max-width: 400px;
    align-self: start;
}

main div#simbolos-container img {
    width: 100%;
}

footer {
    height: 30px;
    background: #72df77;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    color: #042F05;
}