* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    height: 100vh;
    background: #EBFFEC;
    display: grid;
    grid-template-rows: auto 628px auto;
}

header {
  background: #37893B;
  height: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 100%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.193);

}

header > #botao-menu {
    display: none;
}

header > nav {
    grid-column: 2;
    display: flex;
    column-gap: 80px;
    margin-right: 20px;
}

header > nav > a {
    text-decoration: none;
    color: #EBFFEC;
    /* background: gray; */
    padding: 10px 10px;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 12px;
    transition: all .2s ease-in-out;
}

header > nav > a.disabled:hover {
    background: #5ea462;
}

header > nav > a.active {
    color: #a4eda8;
    -webkit-text-stroke: 0.5px #7ec481;
    cursor: default;
}


main {
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
  grid-template-rows: 50px auto auto auto;
  grid-row: 2;
  row-gap: 20px;
  align-content: start;
}

main #title-container {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  font-size: 25px;
}

main #soft {
  grid-column: 3;
  grid-row: 3;
}

main #hard {
  grid-column: 2;
  grid-row: 3;
}

main > .skill-container {
  max-width: 600px;
  /* background: lightblue; */
}

main > .skill-container h2 {
  font-size: 30px;
  letter-spacing: 2px;
  color: #042F05;
}

main > .skill-container > dl {
  margin-top: 15px;
  display: grid;
  grid-template-rows: repeat(8, auto);
  row-gap: 5px;
}

main > .skill-container > dl > dt {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: #042F05;
  max-width: 200px;
}

main > .skill-container > dl > dt:after {
  content: '⬎';
  margin-left: 5px;
}

main > .skill-container > dl > dt.active:after {
  content: '⬏';
  margin-left: 5px;
}

main > .skill-container > dl > dd {
  color: #266d29;
  font-weight: 400;
  display: none;
}

main > .skill-container > dl > dd.active {
  display: block;
}

footer {
    height: 30px;
    background: #72df77;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    color: #042F05;
}

