* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #EBFFEC;
}

header {
    background: #053808;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

header > nav {
    display: flex;
    grid-column: 2;
    /* background: greenyellow; */
    padding: 10px 5px;
    margin-right: 20px;

}

header > nav  > a {
    text-decoration: none;
    color: #EBFFEC;
    /* background: gray; */
    padding: 10px 10px;
    margin-left: 80px;
}

header > nav  > a.active {
    color: #81b583;
}

main {
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr;
    /* background: rgb(69, 99, 23); */

}

main > aside {
    /* background: greenyellow; */
    height: 100%;
    grid-column: 1;
    grid-row: 2;
    padding-left: 20px;
    align-self: center;
}

main > aside > h1 {
    /* background: lightgreen; */
    max-width: 600px;
    font-size: 55px;
}

main > aside > p {
    /* background: lightblue; */
    max-width: 600px;
    font-size: 20px;
}

main > div.img-edu-container {
    grid-column: 2;
    grid-row: 1/ -1;
    background: lightcoral;
    align-self: center;
}