* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    height: 100vh;
    background: #EBFFEC;
    display: grid;
    grid-template-rows: auto 628px auto;
}

header {
  grid-row: 1;  
  background: #37893B;
  height: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 100%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.193);

}

header > nav {
    grid-column: 2;
    display: flex;
    column-gap: 80px;
    margin-right: 20px;
}

header > nav > a {
    text-decoration: none;
    color: #EBFFEC;
    /* background: gray; */
    padding: 10px 10px;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 12px;
    transition: all .2s ease-in-out;
}

header > nav > a.disabled:hover {
    background: #5ea462;
}

header > nav > a.active {
    color: #a4eda8;
    -webkit-text-stroke: 0.5px #7ec481;
    cursor: default;
}

main {
    display: grid;
    grid-row: 2;
    grid-template-columns: 50px auto;
    grid-template-rows: 50px auto auto auto auto;
    align-content: start;
    row-gap: 20px;
}

main > h1 {
    grid-column: 2;
    grid-row: 2;
    /* background: gray; */
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 15px;
    color: #042F05;
}

main > div.paragraph-container {
    position: relative;
}

main >div.paragraph-container::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 20px;
    background: #042F05;
    position: absolute;
    top: 15px;
    left: -25px;
}

main > div.paragraph-container > p {
    /* background: red; */
    color: #042F05;
    max-width: 1150px;
    font-size: 25px;
}

main > #paragraph-1 {
    top:25px;
    grid-column: 2;
    grid-row: 3;
}

main > #paragraph-2 {
    top:50px;
    grid-column: 2;
    grid-row: 4;
}

main > #paragraph-3 {
    top: 75px;
    grid-column: 2;
    grid-row: 5;
}

footer {
    height: 30px;
    background: #72df77;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    color: #042F05;
}